z {
	position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 800;
font-size: 14px;
line-height: 16px;
color: #F5F5F5;
left: 679px;
top: 47px;
}
c {
	position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 800;
font-size: 14px;
line-height: 16px;
color: #F5F5F5;
left: 742px;
top: 47px;
}
d {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 800;
font-size: 14px;
line-height: 16px;
color: #F5F5F5;
left: 827px;
top: 47px;
}
e {
	position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 700;
font-size: 30px;
line-height: 35px;
color: #FFFFFF;
left: 434px;
top: 344px;
}
f {
	position:absolute;
font-family: Roboto Condensed;
font-style : normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
left: 208px;
top: 382px;
}
g {
	position:absolute;
font-family: Roboto Condensed;
font-style : normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
left: 208px;
top: 481px;
}
h {
	position:absolute;
font-family: Roboto Condensed;
font-style : normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
left: 208px;
top: 577px;
}
j {
	position:absolute;
font-family: Roboto Condensed;
font-style : normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
left: 208px;
top: 671px;
}
k {
	position:absolute;
font-family: Roboto Condensed;
font-style : normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
color: rgba(0, 0, 0, 0.5);
left: 235px;
top: 428px;
}
l {
	position:absolute;
font-family: Roboto Condensed;
font-style : normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
color: rgba(0, 0, 0, 0.5);
left: 235px;
top: 529px;
}
m {
	position:absolute;
font-family: Roboto Condensed;
font-style : normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
color: rgba(0, 0, 0, 0.5);
left: 235px;
top: 623px;
}
n {
	position:absolute;
font-family: Roboto Condensed;
font-style : normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
color: rgba(0, 0, 0, 0.5);
left: 235px;
top: 718px;
}
o {
	position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
color: #000000;
left: 473px;
top: 829px;
}
r {
	position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #000000;
left: 407px;
top: 934px;
}
t {
	position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #000000;
left: 407px;
top: 1023px;;
}
img.grup15{
position: absolute;
width: 1024px;
height: 105px;
left: 0px;
top: 0px;
}
img.img8{
position: absolute;
width: 65px;
height: 65px;
left: 941px;
top: 17px;
}
img.bg{
position: absolute;
width: 1024px;
height: 1160px;
left: 0px;
top: 100px;
}
img.grup17{
position: absolute;
width: 1024px;
height: 115px;
left: 0px;
top: 1251px;
}
img.grup18{
position: absolute;
width: 764px;
height: 962px;
left: 142px;
top: 176px;
}
img.grup19{
position: absolute;
width: 606px;
height: 64px;
left: 211px;
top: 912px;
}
img.grup20{
position: absolute;
width: 606px;
height: 64px;
left: 211px;
top: 1002px;
}
img.img1{
position: absolute;
width: 612px;
height: 64px;
left: 208px;
top: 809px;
}
img.img5{
position: absolute;
width: 49px;
height: 49px;
left: 199px;
top: 210px;
}
img.fb{
position: absolute;
width: 69.67px;
height: 68.58px;
left: 712.03px;
top: 1275px;
}
img.twt{
position: absolute;
width: 60.82px;
height: 59.87px;
left: 786.26px;
top: 1279.76px;
}
img.inst{
position: absolute;
width: 60.82px;
height: 59.87px;
left: 853.86px;
top: 1278.45px;
}
img.in{
position: absolute;
width: 60.82px;
height: 59.87px;
left: 921.18px;
top: 1279.76px;
}