zzz{
left: 139;
top: 353;
position: absolute;
width: 130px;
height: 33px;
border: 1px solid #FFFFFF;
border-radius: 22.5px;
}
qqq{
left: 448;
top: 353;
position: absolute;
width: 130px;
height: 33px;
border: 1px solid #FFFFFF;
border-radius: 22.5px;
}
www{
left: 755;
top: 353;
position: absolute;
width: 130px;
height: 33px;
border: 1px solid #FFFFFF;
border-radius: 22.5px;
}
z {
	position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 800;
font-size: 14px;
line-height: 16px;
color: #F5F5F5;
left: 679px;
top: 47px;
}
c {
	position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 800;
font-size: 14px;
line-height: 16px;
color: #F5F5F5;
left: 742px;
top: 47px;
}
d {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 800;
font-size: 14px;
line-height: 16px;
color: #F5F5F5;
left: 827px;
top: 47px;
}
e {
	position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
left: 77px;
top: 195px;
}
f {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;

color: #FFFFFF;
left: 387px;
top: 195px;
}
g {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
left: 695px;
top: 195px;
}
h {
	position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
left: 182px;
top: 361px;
}
j {
	position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
left: 490px;
top: 361px;
}
k {
	position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
left: 798px;
top: 361px;
}
l {
	position:absolute;
font-family: Roboto;
font-style : normal;
left: 57px;
top: 123px;
font-weight: 700;
font-size: 28px;
line-height: 33px;
width: 136px;
height: 38px;
color: #FFFFFF;
}
m {
	position:absolute;
font-family: Roboto;
font-style : normal;
left: 57px;
top: 492px;
font-weight: 700;
font-size: 28px;
line-height: 33px;
width: 112px;
height: 33px;
color: #FFFFFF;
}
n {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
left:124px;
top: 565px;
}
o {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
left: 124px;
top: 712px;
}
r {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
left: 124px;
top: 862px;
}
t {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
left: 124px;
top: 1151px;
}
v {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
left: 124px;
top: 1298px;
}
w {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
left: 124px;
top: 1449px;
}
x {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
left: 124px;
top: 1738px;
}
y {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
left: 124px;
top: 1883px;
}
za {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
left: 124px;
top: 2035px;
}
aa {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 700;
font-size: 28px;
line-height: 33px;
color: #FFFFFF;
left: 57px;
top: 1075px;
}
ab {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 700;
font-size: 28px;
line-height: 33px;
color: #FFFFFF;
left: 57px;
top: 1657px;
}
 ac {
	position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 700;
font-size: 28px;
line-height: 33px;
color: #FFFFFF;
width: 222px;
height: 36px;
left: 57px;
top: 2244px;
 }
 ad {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 400;
font-size: 24px;
line-height: 26px;
color: #000000;
left: 127px;
top: 2499px;
  }
ae {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 400;
font-size: 24px;
line-height: 26px;
color: #000000;
left: 447px;
top: 2499px;
  }
 af {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 400;
font-size: 24px;
line-height: 26px;
color: #000000;
left: 757px;
top: 2499px;
  }
ag {
	position:absolute;
	font-family: Roboto;
font-style : normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #000000;
left: 57px;
top: 2548px;
width: 278px;
height: 61px;
text-align: center;
  }
  ah {
position:absolute;
	font-family: Roboto;
font-style : normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #000000;
left: 372px;
top: 2548px;
width: 280px;
height: 82px;
text-align: center;
  }
ai {
position:absolute;
	font-family: Roboto;
font-style : normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #000000;
left: 673px;
top: 2548px;
width: 279px;
height:82px;
text-align: center;
  }
  
aj {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;
left: 143px;
top: 2666px;
width: 106;
height: 19;
text-align: center;
letter-spacing: 0.06;
  }   
  ak {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;
left: 451px;
top: 2666px;
width: 106;
height: 19;
text-align: center;
letter-spacing: 0.06;
  }
  al {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;
left: 759px;
top: 2666px;
width: 106;
height: 19;
text-align: center;
letter-spacing: 0.06;
  }
img.grup15{
position: absolute;
width: 1024px;
height: 105px;
left: 0px;
top: 0px;
}
img.img8{
position: absolute;
width: 65px;
height: 65px;
left: 941px;
top: 17px;
}
img.grup17{
position: absolute;
width: 1024px;
height: 115px;
left: 0px;
top: 2777px;
}
img.fb{
position: absolute;
width: 67.9px;
height: 67.9px;
left: 688.53px;
top: 2802.76px;
}
img.twt{
position: absolute;
width: 59.27px;
height: 59.27px;
left: 760.88px;
top: 2807.48px;
}
img.inst{
position: absolute;
width: 59.27px;
height: 59.27px;
left: 826.75px;
top: 2806.18px;
}
img.in{
position: absolute;
width: 59.27px;
height: 59.27px;
left: 892.36px;
top: 2805.18px;
}
img.bg{
position: absolute;
width: 1024px;
height: 2809px;
left: 0px;
top: 89px;	
}
img.grup28{
position: absolute;
width: 951px;
height: 342px;
left: 37px;
top: 111px;	
}
img.img53{
position: absolute;
width: 951px;
height: 561px;
left: 37px;
top: 466px;	
}
img.img54{
position: absolute;
width: 951px;
height: 562px;
left: 37px;
top: 1052px;	
}
img.img55{
position: absolute;
width: 951px;
height: 562px;
left: 37px;
top: 1638px;	
}
img.grup29{
position: absolute;
width: 951px;
height: 518px;
left: 37px;
top: 2225px;	
}
img.img1{
position: absolute;
width: 910px;
height: 143px;
left: 57px;
top: 545px;	
}
img.img2{
position: absolute;
width: 910px;
height: 142px;
left: 57px;
top: 697px;	
}
img.img3{
position: absolute;
width: 910px;
height: 143px;
left: 57px;
top: 847px;	
}
img.img4{
position: absolute;
width: 910px;
height: 143px;
left: 57px;
top: 1131px;	
}
img.img5{
position: absolute;
width: 910px;
height: 143px;
left: 57px;
top: 1283px;	
}
img.img6{
position: absolute;
width: 910px;
height: 143px;
left: 57px;
top: 1434px;	
}
img.img7{
position: absolute;
width: 910px;
height: 143px;
left: 57px;
top: 1718px;	
}
img.img10{
position: absolute;
width: 910px;
height: 143px;
left: 57px;
top: 1870px;	
}
img.img9{
position: absolute;
width: 910px;
height: 142px;
left: 57px;
top: 2021px;	
}
img.img11{
position: absolute;
width: 106px;
height: 1px;
left: 143px;
top: 2695px;	
}
img.img12{
position: absolute;
width: 106px;
height: 1px;
left: 451px;
top: 2695px;	
}
img.img13{
position: absolute;
width: 106px;
height: 1px;
left: 759px;
top: 2695px;	
}