z {
	position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 800;
font-size: 14px;
line-height: 16px;
color: #F5F5F5;
left: 679px;
top: 47px;
}
c {
	position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 800;
font-size: 14px;
line-height: 16px;
color: #F5F5F5;
left: 742px;
top: 47px;
}
d {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 800;
font-size: 14px;
line-height: 16px;
color: #F5F5F5;
left: 827px;
top: 47px;
}
e {
	position:absolute;
font-family: Roboto Condensed;
font-style : normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
text-decoration-line: underline;
color: #FFFFFF;
left: 285px;
top: 380px;
}
f {
	position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
color: #FFFFFF;
left: 454px;
top: 533px;
}
j {
	position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
left: 480px;
top: 824px;
}
k {
	position:absolute;
font-family: Roboto Condensed;
font-style : normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
color: #4F6AF5;
left: 453px;
top: 878px;
}
g {
	position:absolute;
font-family: Roboto Condensed;
font-style : normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
color: rgba(0, 0, 0, 0.5);
left: 352px;
top: 614px;
}
h {
	position:absolute;
font-family: Roboto Condensed;
font-style : normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
color: rgba(0, 0, 0, 0.5);
left: 352px;
top: 696px;
}
l {
	position:absolute;
font-family: Roboto Condensed;
font-style : normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #000000;
left: 357px;
top: 757px;
}
img.grup15{
position: absolute;
width: 1024px;
height: 105px;
left: 0px;
top: 0px;
}
img.img8{
position: absolute;
width: 65px;
height: 65px;
left: 941px;
top: 17px;
}
img.bg{
position: absolute;
width: 1024px;
height: 1146px;
left: 0px;
top: 105px;
}
img.grup16{
position: absolute;
width: 560px;
height: 612px;
left: 232px;
top: 352px;
}
img.grup17{
position: absolute;
width: 1024px;
height: 115px;
left: 0px;
top: 1251px;
}
img.sign{
position: absolute;
width: 426px;
height: 60px;
left: 315px;
top: 810px;
}
img.fb{
position: absolute;
width: 69.67px;
height: 68.58px;
left: 712.03px;
top: 1275px;
}
img.twt{
position: absolute;
width: 60.82px;
height: 59.87px;
left: 786.26px;
top: 1279.76px;
}
img.inst{
position: absolute;
width: 60.82px;
height: 59.87px;
left: 853.86px;
top: 1278.45px;
}
img.in{
position: absolute;
width: 60.82px;
height: 59.87px;
left: 921.18px;
top: 1279.76px;
}