
z {
	position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 800;
font-size: 14px;
line-height: 16px;
color: #F5F5F5;
left: 679px;
top: 47px;
}
c {
	position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 800;
font-size: 14px;
line-height: 16px;
color: #F5F5F5;
left: 742px;
top: 47px;
}
d {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 800;
font-size: 14px;
line-height: 16px;
color: #F5F5F5;
left: 827px;
top: 47px;
}
e {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
color: #FFFFFF;
left: 151px;
top: 288px;
}
f {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
color: #FFFFFF;
left: 477px;
top: 288px;
}
g {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
color: #FFFFFF;
left: 730px;
top: 288px;
}
hh {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 700;
font-size: 30px;
line-height: 35px;
color: #000000;
left: 375px;
top: 363px;
}
j {
position:absolute;
font-family: Roboto Condensed;
font-style : normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
left: 61px;
top: 430px;
width: 902px;
height: 506px;
text-align: justify;
}
k {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
left: 61px;
top: 430px;
width: 902px;
height: 72px;
text-align: justify;
}
l {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
left: 61px;
top: 518px;
width: 902px;
height: 105px;
text-align: justify;
}
m {
position:absolute;
font-family: Roboto;
font-style : normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
left: 61px;
top: 669px;
width: 902px;
height: 72px;
text-align: justify;
}
img.grup15{
position: absolute;
width: 1024px;
height: 105px;
left: 0px;
top: 0px;
}
img.img8{
position: absolute;
width: 65px;
height: 65px;
left: 941px;
top: 17px;
}
img.grup17{
position: absolute;
width: 1024px;
height: 115px;
left: 0px;
top: 1251px;
}
img.fb{
position: absolute;
width: 69.67px;
height: 68.58px;
left: 712.03px;
top: 1275px;
}
img.twt{
position: absolute;
width: 60.82px;
height: 59.87px;
left: 786.26px;
top: 1279.76px;
}
img.inst{
position: absolute;
width: 60.82px;
height: 59.87px;
left: 853.86px;
top: 1278.45px;
}
img.in{
position: absolute;
width: 60.82px;
height: 59.87px;
left: 921.18px;
top: 1279.76px;
}
img.bg{
position: absolute;
width: 1024px;
height: 1366px;
left: 0px;
top: 0px;
}
img.img1{
position: absolute;
width: 938px;
height: 173px;
left: 43px;
top: 108px;
}
img.grup43{
position: absolute;
width: 301px;
height: 32.64px;
left: 37px;
top: 280px;
}
img.grup42{
position: absolute;
width: 315px;
height: 32px;
left: 681px;
top: 280px;
}
img.grup44{
position: absolute;
width: 294px;
height: 32px;
left: 377px;
top: 280px;
}
img.rec129{
position: absolute;
width: 938px;
height: 852px;
left: 43px;
top: 312px;
}